<mat-toolbar color="primary">
    <div>
        <span class="logo" routerLink="/">Nrwl-Nx</span>
    </div>
    <div class="search-div">
        <form class="search-form">
            <input class="search-input"
            type="text"
            name="search"
            placeholder="Search">
            <!-- <button class="search-button">
                Search
            </button> -->
            <button class="search-button"
                    mat-raised-button color="primary"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>search</mat-icon>
            </button>
        </form>
        <!-- <mat-form-field appearance="legacy">
            <input matInput class="search-input"
            type="text"
            name="search"
            placeholder="Search">
            <button class="search-button"
                    mat-mini-fab color="accent"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>search</mat-icon>
            </button>
        </mat-form-field> -->
    </div>
    <div class="right-items">
        <div class="icons">
            <span class="span-icon">
                <mat-icon aria-label="account_circle" [matMenuTriggerFor]="account">person</mat-icon>
                <mat-menu #account="matMenu" xPosition="before" class="account-menu">
                    <h3 class="account-menu-title">Hello there!</h3>
                    <button mat-menu-item routerLink="login">Log In</button>
                    <button mat-menu-item routerLink="signup">Sign Up</button>
                </mat-menu>
            </span>
            <span class="span-icon">
                <mat-icon aria-label="favorites">notifications</mat-icon>
            </span>
            <span class="span-icon">
                <mat-icon aria-label="favorites" routerLink="favorites">favorite</mat-icon>
            </span>
            <span class="span-icon">
                <mat-icon aria-label="cart" matBadge="3" matBadgeColor="warn" matBadgeSize="small" routerLink="cart">shopping_cart</mat-icon>
            </span> 
        </div>
        <div class="button-container">
            <button mat-mini-fab color="primary"
                    aria-label="icon button with a menu icon"
                    [matMenuTriggerFor]="rightMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #rightMenu="matMenu" xPosition="before" class="right-menu">
                <button mat-menu-item>
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Cart</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>favorite</mat-icon>
                    <span>Favorites</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span>Account</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications</mat-icon>
                    <span>notifications</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>