<div class="users-wrapper">
    <mat-card>
        <mat-card-title>Users</mat-card-title>
        <mat-card-subtitle>List of all users</mat-card-subtitle>
        <mat-toolbar>
            <a mat-flat-button routerLink="form">
                <mat-icon inline="true" aria-hidden="false" aria-label="Add">
                    add
                </mat-icon>New
            </a>
        </mat-toolbar>
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Me" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="users">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
              
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let users"> {{users.name}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let users"> {{users.email}} </td>
              </ng-container>

               <!-- Role Column -->
               <ng-container matColumnDef="isAdmin">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let users">
                  <mat-chip-list>
                    <mat-chip selected *ngIf="users.isAdmin" color="accent">Admin</mat-chip>
                    <mat-chip selected *ngIf="!users.isAdmin" color="primary">User</mat-chip>
                  </mat-chip-list>
                </td>
              </ng-container>

               <!-- Country Column -->
               <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let users"> {{users.country}} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="actions-header"> Actions </th>
                <td mat-cell *matCellDef="let users" class="actions-cell">
                  <a mat-flat-button class="action delete" (click)="deleteUser(users._id)">
                    <mat-icon inline="true" aria-hidden="false" aria-label="delete">
                        delete
                    </mat-icon>
                  </a>
                  <a mat-flat-button class="action edit" (click)="updateUser(users._id)">
                    <mat-icon inline="true" aria-hidden="false" aria-label="edit">
                        edit
                    </mat-icon>
                  </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"></mat-paginator>
          </div>
    </mat-card>
</div>


