.cards-grid {
    width: 100%;
    max-height: min-content;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
}