<div class="first-section"></div>

<div class="category-chips">
    <mat-chip-list aria-label="Categories list" *ngFor="let category of categories">
        <mat-chip [ngStyle]="{background: category.color}"
                  selected
                  routerLink=" '/products/category/' + category.id">
            <mat-icon>{{this.category.icon}}</mat-icon>
            {{this.category.name}}
        </mat-chip>
    </mat-chip-list>
</div>

<div class="carousel-wrapper">
    <app-featured></app-featured>
</div>

<div class="category-wrapper">
    <div class="category-name">
        <h1>Technology</h1>
    </div>
    <div class="carousel-wrapper">
        <app-swiper-carousel></app-swiper-carousel>
    </div>
</div>