.first-section {
    height: 300px;
    padding: 0;
    margin: 0 0 15px 0;
    background: url("../../../assets/playstation.jpg");
    // background-color: turquoise;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

app-chips {
    margin-left: 3.5%;
}