<div class="categories-wrapper">
    <mat-card>
        <mat-card-title>{{editMode ? 'Edit Category' : 'Create Category'}}</mat-card-title>
        <mat-card-subtitle>
        {{editMode ? 'You can edit categories here' : 'You can create categories here'}}
        </mat-card-subtitle>
        <mat-toolbar>
            <!-- <span class="example-spacer"></span> -->
            <a mat-flat-button class="create-btn" (click)="onSubmit()">
                <mat-icon inline=true aria-hidden="false" aria-label="Example home icon" class="createIcon">
                    {{editMode ? 'edit' : 'add'}}
                </mat-icon>
                    {{editMode ? 'Update' : 'Create'}}
            </a>
            <a mat-flat-button class="cancel-btn" (click)="cancel()">
                <mat-icon inline=true aria-hidden="false" aria-label="Example home icon" class="cancelIcon">
                    clear
                </mat-icon>Cancel
            </a>
        </mat-toolbar>
        <form class="category-form" [formGroup]="categoryForm">

            <mat-form-field class="form-1" appearance="fill">
                <mat-label for="name">Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="categoryForm.controls.name.invalid">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="form-2" appearance="fill">
                <mat-label for="icon">Icon</mat-label>
                <mat-select formControlName="icon" name="pickone">
                    <mat-option *ngFor="let icon of pickIcons" [value]="icon">
                      <mat-icon>{{icon}}</mat-icon>
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf="categoryForm.controls.icon.invalid">Icon is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label for="color">Color</mat-label>
              <mat-select formControlName="color" name="pick">
                <mat-option *ngFor="let color of pickColors" [value]="color">
                    <div class="color-picker" [ngStyle]="{'background-color': color}"></div>
                    {{color}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        </form>
    </mat-card>
</div>


