<div class="sidebar">
    <div class="logo">
        <img src="" alt="">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="categories">Categories</a>
            </li>
            <li>
                <a routerLink="users">Users</a>
            </li>
            <li>
                <a routerLink="/" class="logout">Logout</a>
            </li>
        </ul>
    </div>
</div>