@import '../../../../../../styles/styles.scss';

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

th, td {
    width: 20%
}

a {
    width: 5%;
    padding: 0 0 0 5px;
    display: block;
    text-align: left;
    font-size: 1rem;
}
.mat-flat-button {
    background-color: $success;
    color: white;
}

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
    vertical-align: top;
    font-size: 1.25em;
}

.categories-icon {
    font-size: 24px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.action {
    display: inline;
    padding: 8px;
    margin: 5px;
}

.delete {
    color: $surface-a;
    background-color: $warn;
}

.edit {
    color: $surface-a;
    background-color: $primary;
}

.actions-header .actions-cell{
    text-align: center;
}
