<div *ngFor="let category of categoryAndProducts">
  <div class="category-wrapper">
  <div class="category-name">
    <!-- {{category.name}} -->
  </div>
  <div class="swiper-content">
    <!-- <swiper
        #swiper
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()">
          <ng-template swiperSlide *ngFor="let product of category.products">
            <app-product-item [product]="product"></app-product-item>
          </ng-template>
      <button (click)="slideNext()">Next slide</button>
      <button (click)="slidePrev()">Prev slide</button>
    </swiper> -->
  </div>
  </div>
</div>
