<div class="swiper-content">
  <h1 class="featured">Featured Products</h1>
    <swiper
        #swiper
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()">

        <ng-template swiperSlide *ngFor="let product of featuredProducts">
          <app-product-item [product]="product"></app-product-item>
        </ng-template>
    
      <button (click)="slideNext()">Next slide</button>
      <button (click)="slidePrev()">Prev slide</button>
      
    </swiper>
</div>