<div class="category-wrapper">
  <div class="category-name">
    <h1>Featured</h1>
  </div>

  <div class="swiper-content">
    <p-carousel [value]="featuredProducts"
                [numVisible]="5"
                [numScroll]="1"
                [responsiveOptions]="responsiveOptions"
                [autoplayInterval]="3000"
                [circular]="true"
                [showIndicators]="false">

      <ng-template let-product pTemplate="item">
          <app-product-item [product]="product"></app-product-item>  
      </ng-template>

    </p-carousel>
  </div>

</div>