<div class="swiper-content">
  <h1 class="featured">Featured Products</h1>
    <swiper
        #swiper
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()">

      <ng-container *ngFor="let product of featuredProducts">
        <ng-template swiperSlide>
          <app-product-item [product]="product"></app-product-item>
        </ng-template>
      </ng-container>
    
      <button (click)="slideNext()">Next slide</button>
      <button (click)="slidePrev()">Prev slide</button>
      
    </swiper>
</div>