@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: #3f51b5;
$accent: #ff4081;
$warn: #f44336;
$success: #38b000;
$danger: #bb2d3b;
$dark: black;
$surface-a: white;
$surface-b: #D7D8C9;
$surface-c: #272e4f;

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

.success-snack, .failed-snack {
    color: $surface-a;
    background-color: $surface-c;
    button {
        color: $surface-a;
    }
}