@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/virtual";
@import "swiper/scss/free-mode";

$primary: hsl(246, 78%, 56%);
$accent: #f0457e;
$warn: hsl(355, 78%, 56%);
$success: hsl(110, 78%, 39%);
$dark: black;
$surface-a: white;
$surface-b: #D7D8C9;
$surface-c: #1a1d24;
$c-hover: rgba(87, 93, 107, 0.2);

html, body {
    width: 100%;
    height: 100%;
    // background-color: hsl(66, 43%, 90%);
    background-color: $surface-b;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

.success-snack {
    color: $surface-a;
    background-color: $success;
    button {
        color: $surface-a;
    }
}

.failed-snack {
    color: $surface-a;
    background-color: $warn;
    button {
        color: $surface-a;
    }
}