@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: #657ee4;
$accent: #f0457e;
$warn: #ed4c51;
$success: #349172;
$dark: black;
$surface-a: white;
$surface-b: #D7D8C9;
$surface-c: #1a1d24;
$c-hover: rgba(87, 93, 107, 0.2);

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

.success-snack {
    color: $surface-a;
    background-color: $success;
    button {
        color: $surface-a;
    }
}

.failed-snack {
    color: $surface-a;
    background-color: $warn;
    button {
        color: $surface-a;
    }
}